.Footer {
  height: 100px;
  background-color: rgb(48, 56, 70);
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.desktop-footer-link,
.desktop-footer-link:hover,
.desktop-footer-link:visited {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
