.MovieInfo {
  background-color: blueviolet;
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: auto;
  overflow: auto; /* Enable scroll if needed */
}