.MovieInfo {
  background: #ffffff;
  border-radius: 0.7em;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: rgb(73, 93, 109);
  position: fixed;
  z-index: 1;
  left: 5%;
  top: 2.5%;
  max-width: 90%;
  max-height: 95%;
  margin: auto;
  font-family: ghibliRegular;
}

.info-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img {
  margin-top: 3vh;
}

.image-text {
  margin-bottom: 1.5vh;
}

.info-text {
  text-align: start;
}

.section-title {
  font-family: ghibliBold;
}

.info-button {
  margin-top: 100px;
}