/* stylelint-disable */

/* MIN WIDTH */

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .mobile-header-link {
    display: none;
  }

  .Header > * {
    padding: 0 5vh;
  }

}

@media (min-width: 992px) {
  .desktop-footer-link {
    padding-right: 10vh;
  }

}

@media (min-width: 1200px) {
  .App {
    text-align: center;
    background: rgb(27, 160, 208) url('../assets/images/background.png') no-repeat right bottom;
  }
}

@media (min-width: 1400px) {

}

/* MAX WIDTH */

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {
  .tablet-header-link {
    display: none;
  }

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
  .App {
    text-align: center;
    background-color: rgb(27, 160, 208);
    background-image: none;
  }
}

@media (max-width: 1399.98px) {

}
